<h1>Weapons#show</h1>
<p><%= @weapon.name %></p>
<p><%= @weapon.description %></p>
<p><%= @weapon.powerbase %></p>
<p><%= @weapon.powerstep %></p>
<p><%= @weapon.level %></p>
<p><%= @weapon.currentpower %></p>
<p><%= @weapon.title %></p>
